name: Deploy FastAPI to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        env:
          DB_PASSWORD_B64: ${{ secrets.DB_PASSWORD_B64 }}
        run: |
          ssh -o StrictHostKeyChecking=no \
            ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} \
            "bash -lc '
              set -e

              cd \"${{ secrets.APP_PATH }}\"

              echo \"➡️ Criando arquivo .env (BASE64 blindado)\"

              DB_PASSWORD=\$(echo \"$DB_PASSWORD_B64\" | base64 --decode)

              cat > .env <<EOF
              DB_NAME=${{ secrets.DB_NAME }}
              DB_USER=${{ secrets.DB_USER }}
              DB_PASSWORD=\$DB_PASSWORD
              DB_HOST=${{ secrets.DB_HOST }}
              DB_PORT=${{ secrets.DB_PORT }}
              EOF

              echo \"➡️ Atualizando código\"
              git pull origin main

              echo \"➡️ Subindo containers\"
              docker compose up -d --build

              echo \"✅ Deploy finalizado\"
            '"