name: Deploy FastAPI to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        env:
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          APP_PATH: ${{ secrets.APP_PATH }}
          EC2_USER: ${{ secrets.EC2_USER }}
          EC2_HOST: ${{ secrets.EC2_HOST }}
        run: |
          ssh -o StrictHostKeyChecking=no "$EC2_USER@$EC2_HOST" << 'EOF'
            set -e

            echo "➡️ Entrando no diretório do projeto"
            cd "$APP_PATH"

            echo "➡️ Atualizando código"
            git pull origin main

            echo "➡️ Criando arquivo .env"
            printf "%s\n" \
              "DB_NAME=$DB_NAME" \
              "DB_USER=$DB_USER" \
              "DB_PASSWORD=$DB_PASSWORD" \
              "DB_HOST=$DB_HOST" \
              "DB_PORT=$DB_PORT" \
              > .env

            echo "➡️ Subindo containers com Docker Compose"
            docker compose up -d --build

            echo "✅ Deploy finalizado com sucesso"
          EOF